.home{
    background-color: #ededed;
}
.product{
    margin-top: 30px;
}
.product-bestseller{
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, #004cf5,#090440);
    border-radius: 8px;
}
.product-item{
    background-color: #fff;
    padding-bottom: 40px;
    padding-left: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.product-item:hover{
    transform: translateX(2px) translateY(-2px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.product-tag{
    background-color: #1435c3;
    color: #fff;
    padding: 0 4px;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 8px;
}
.product-img{
    width: 100%;
}
.product-name{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-qtt{
    font-size: 12px;
    color: #e6983a;
}
.product-old-price{
    color: #999;
    text-decoration: line-through;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-new-price{
    color: #1435c3;
    font-weight: 700;
}