.navbar{
    padding: 10px 10vw !important;
}

.navbar-name{
    font-family: 'Russo One', sans-serif;
    color: #1435c3 !important;
    font-size: 20px;
}
.nav-icon{
    font-size: 18px !important;
    color: #1435c3;
    opacity: 0.5;
    margin-left: 10px;
}
.nav-link:hover .nav-icon{
    opacity: 1;
}
